/* Grid settings */
$blueprint-liquid-grid-columns: 24;
$blueprint-liquid-grid-width: 3.167%;
$blueprint-liquid-grid-margin: 1.042%;
$blueprint-liquid-container-width: 100%;
$blueprint-liquid-container-min-width: 320px;
$blueprint-liquid-grid-push-pull: $blueprint-liquid-grid-margin + $blueprint-liquid-grid-width;
